@model IEnumerable<DBPracticaConLoginSearchYList.Vendedores>

@{
    ViewBag.Title = "Index";
}

<div class="custom">
    <h2>Registro de Vendedores</h2>
    <br />

    <div>
        <form class="d-flex" method="get" style="width:350px;">
            <input class="form-control me-sm-2" type="text" placeholder="Search" id="Criterio" name="Criterio">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit" id="buscar">Buscar</button>
        </form>
    </div>
    <br />
    <br />

    <div>
        <div class="btn-text-left">
            <button type="button" class="btn btn-primary">
                @Html.ActionLink("Agrega Nuevo", "Create")
            </button>
        </div>
        <br />
        <div class="btn-text-right">
            <button type="button" class="btn btn-primary">
                @Html.ActionLink("Exportar a Excel", "exportaExcel")
            </button>
        </div>
    </div>



    <br />
    <table class="table">
        <tr>
            <th>
                Select All
                /None
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComisionPorVenta)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input id="Checkbox2" class="form-check-input" type="checkbox" value="" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComisionPorVenta)
                </td>
                <td>

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Administrator")) //Check whether the user is in that role
                        {
                            <button type="button" class="btn btn-primary">
                                @Html.ActionLink("Edit", "Edit", new { id = item.VendedorId })
                            </button> <span></span>
                            <button type="button" class="btn btn-primary">
                                @Html.ActionLink("Delete", "Delete", new { id = item.VendedorId })
                            </button>
                        }
                    }

                    <button type="button" class="btn btn-primary">
                        @Html.ActionLink("Details", "Details", new { id = item.VendedorId })
                    </button>
                </td>
            </tr>
        }

    </table>

</div>