@model DBPracticaConLoginSearchYList.Productos

@{
    ViewBag.Title = "Borrar";
}

<div class="custom">
    <h2>Borrar</h2>

    <h3>Desea eliminar este registro?</h3>
    <div>
        <h4>Productos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CodigoUPC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CodigoUPC)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Precio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Precio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Activo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Activo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Stock)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Stock)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Categoria.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categoria.Descripcion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-default" /> |
                @Html.ActionLink("Volver atras", "Index")
            </div>
        }
    </div>
</div>