@model IEnumerable<DBPracticaConLoginSearchYList.Productos>

@{
    ViewBag.Title = "Index";
}


<div class="custom">
    <h2>Registro de Productos</h2>
    <br />

    <div class="btn-text-left">
        <button type="button" class="btn btn-primary">
            @Html.ActionLink("Agrega Nuevo", "Create")
        </button>
    </div>
    <br />
    <div>
        <form class="d-flex" method="get">
            <input class="form-control me-sm-2" type="text" placeholder="Search" id="Criterio" name="Criterio">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit" id="buscar">Buscar</button>
        </form>
    </div>

    

    <br />

    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoUPC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria.Descripcion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoUPC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ProductoId }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.ProductoId }) |
                    @Html.ActionLink("Borrar", "Borrar", new { id = item.ProductoId })
                </td>
            </tr>
        }

    </table>
</div>