@model DBPracticaConLoginSearchYList.Clientes

@{
    ViewBag.Title = "Details";
}
<div class="custom">
    <h2>Detalle Cliente</h2>
    <br />



    <div>
        <h4>Clientes</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre_Comercial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre_Comercial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RNC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RNC)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cedula)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cedula)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Activo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Activo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MetodoPago.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MetodoPago.Descripcion)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ClienteId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>