@model DBPracticaConLoginSearchYList.Facturas

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Desea eliminar este registro?</h3>
<div>
    <h4>Facturas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Nombre_Comercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nombre_Comercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetodoPago.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetodoPago.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendedores.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedores.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
