@model IEnumerable<DBPracticaConLoginSearchYList.Facturas>

@{
    ViewBag.Title = "Index";
}

<div class="custom">
    <h2>Gestión de Facturas</h2>
    <br />



    <div>
        <button type="button" class="btn"> @Html.ActionLink("Agregar Nuevas Facturas", "Create")</button>
    </div>

    <br />
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes.Nombre_Comercial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetodoPago.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedores.Nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.Nombre_Comercial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetodoPago.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendedores.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.FacturasID }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.FacturasID }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.FacturasID })
                </td>
            </tr>
        }

    </table>
